@font-face {
  font-family: H300;
  src: url(../font/HelveticaNeueCyr-Light.woff2);
}

@font-face {
  font-family: H400;
  src: url(../font/HelveticaNeueCyr-Roman.woff2);
}

@font-face {
  font-family: M500;
  src: url(../font/Montserrat-Medium.woff2);
}

.header {
  width: 1204px;
  margin: 0 auto;
  min-height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  margin: 0 25px 0 0;
}

.header-nav {
  width: 685px;
  margin: 0 116px 0 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav .close {
  display: none;
}

.header-nav-logo {
  display: none;
}

.header-nav-tel-number {
  width: 143px;
  margin: 0 163px 0 0;
}

.header-nav-tel-number-link {
  color: #000;
  line-height: 22px;
  font-size: 16px;
  font-family: H400;
  display: block;
  width: 138px;
  text-decoration: none;
}

.header-nav-tel-number-text {
  color: #FF2727;
  line-height: 19px;
  font-size: 14px;
  font-family: H300;
}

.header-nav-list {
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav-list-item {
  padding: 0;
  margin: 0 100px 0 0;
}

.header-nav-list-item:last-child {
  margin: 0;
}

.header-nav-list-item-link {
  color: #000;
  line-height: 22px;
  font-size: 16px;
  font-family: H400;
  text-decoration: none;
}

.header-nav-list-item-link:hover {
  text-decoration: underline;
}

.header-nav-list-item-link:active {
  text-decoration: none;
}

.header-basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-basket-price {
  margin: 0 20px 0 0;
  width: 65px;
  color: #000;
  line-height: 22px;
  font-size: 16px;
  font-family: H400;
}

.header-basket-price .red {
  color: #FF2727;
  line-height: 19px;
  font-size: 14px;
  font-family: H400;
}

.header-basket-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 51.5px;
  background-color: #FF2727;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 7px 15px 7px;
  color: #fff;
  line-height: 22px;
  font-size: 16px;
  font-family: H400;
}

.header-basket-btn-bin {
  display: block;
  margin: 0 8px 0 0;
  background-color: none;
}

.header-basket-btn:hover {
  cursor: pointer;
}

.header label[for="burger-menu"],
.header input[id="burger-menu"] {
  display: none;
}

.header-basket-mob {
  display: none;
}

.main {
  background-image: url(../img/back-main.jpg);
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.main-nav {
  margin: 0 auto 30px;
  border-bottom: 1px solid #848484;
  border-top: 1px solid #848484;
  min-height: 54.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-nav-list {
  list-style-type: none;
  width: 1204px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-nav-list-item-link {
  color: #000;
  line-height: 19px;
  font-size: 14px;
  font-family: H400;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 7px 17px 8px;
}

.main-nav-list-item-link:hover {
  text-decoration: underline;
}

.main-nav-list-item-link:active {
  text-decoration: none;
}

.main-nav-list-item .active {
  border: 1px solid #848484;
  border-radius: 30px;
}

.main .container {
  width: 1200px;
  margin: 0 auto 58px;
}

.main .container .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main .container .category-title {
  width: 100%;
  text-align: left;
  color: #000;
  line-height: 44px;
  font-size: 32px;
  font-family: H400;
  margin: 0 0 25px 0;
}

.main .container .category .block {
  width: 242px;
  padding: 20px;
  margin: 0 24px 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .container .category .block:nth-child(4n) {
  margin: 0;
}

.main .container .category .block-img {
  margin: 0 0 0 15.5px;
}

.main .container .category .block-title {
  width: 100%;
  color: #000;
  line-height: 25px;
  font-size: 18px;
  font-family: H400;
  text-align: left;
  margin: 0 0 10px 0;
}

.main .container .category .block-text {
  color: #000;
  line-height: 19px;
  font-size: 14px;
  font-family: H300;
  margin: 0 0 38px 0;
}

.main .container .category .block-bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .container .category .block-bottom .add {
  border: none;
  background-color: #F11F3E;
  border-radius: 40px;
  color: #fff;
  line-height: 22px;
  font-size: 16px;
  font-family: H400;
  padding: 7px 16px 8px 15px;
}

.main .container .category .block-bottom .add:hover {
  cursor: pointer;
}

.main .container .category .block-bottom .add:focus, .main .container .category .block-bottom .add:active {
  outline: auto;
}

.main .container .category .block-bottom .price {
  color: #000;
  line-height: 39px;
  font-size: 28px;
  font-family: H400;
}

.main .container .category .block:hover {
  border: 1px solid #848484;
  border-radius: 20px;
  padding: 19px;
}

.main .container .block-mob {
  display: none;
}

.footer-mob {
  display: none;
}

.footer {
  width: 1205px;
  height: 73px;
  margin: 0 auto;
  padding-bottom: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer-text {
  width: 516px;
  color: #000;
  line-height: 19px;
  font-size: 14px;
  font-family: H300;
  margin-top: 40px;
  margin-left: 267px;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 150px;
}

.footer-social-inst {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-left: 18px;
}

@media (max-width: 1024px) {
  .header {
    width: 1000px;
  }
  .header-nav {
    margin: 0 65px 0 0;
  }
  .header-nav-tel-number {
    margin: 0 80px 0 0;
  }
  .header-nav-list-item {
    margin: 0 50px 0 0;
  }
  .main .container {
    width: 1000px;
    margin: 0 auto;
  }
  .main .container .category {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer {
    width: 1000px;
  }
  .footer-text {
    width: 623px;
    margin-left: 135px;
  }
}

@media (max-width: 768px) {
  .header {
    width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 5px 0 0 0;
  }
  .header-logo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0 0 0 -5px;
  }
  .header #burger-menu:checked ~ nav {
    left: 0;
    width: 768px;
    height: 100%;
    margin: 0;
    background: white;
  }
  .header #burger-menu:checked ~ .open {
    visibility: hidden;
  }
  .header-nav {
    width: 100%;
    height: 100%;
    margin: 0;
    background: white;
    -webkit-transition: all .5s;
    transition: all .5s;
    position: relative;
    position: fixed;
    left: -99999%;
    top: 0;
    z-index: 4;
  }
  .header-nav-logo {
    display: block;
    position: absolute;
    top: 20px;
    left: 30px;
  }
  .header-nav-tel-number {
    width: 300px;
    margin: 0 0 0 -71.5px;
    position: absolute;
    top: 40px;
    left: 50%;
  }
  .header-nav-tel-number-link {
    width: 100%;
    font-size: 32px;
    margin: 0 0 20px 0;
  }
  .header-nav-tel-number-text {
    font-size: 28px;
  }
  .header-nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .header-nav-list-item {
    margin: 0 0 50px;
  }
  .header-nav-list-item-link {
    width: auto;
    font-size: 36px;
  }
  .header-nav .close {
    display: block;
    color: #000;
    line-height: 24px;
    font-size: 36px;
    font-family: M500;
    position: absolute;
    top: 60px;
    right: 50px;
  }
  .header label[for="burger-menu"] {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .header-basket-mob {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .header label[for="burger-menu"] {
    display: block;
    width: 20px;
    height: 12px;
    margin: 0 0 0 15px;
  }
  .header-basket {
    display: none;
  }
  .header-basket-mob {
    display: block;
    border: none;
    background-color: #E0112F;
    border-radius: 51.5px;
    padding: 8px 10px;
    margin: 0 0 0 -20px;
    position: relative;
  }
  .header-basket-mob-number {
    background: #FFFFFF;
    border: 1px solid #FF2727;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 51.5px;
    padding: 0px 5px 2px;
    position: absolute;
    bottom: 23px;
    left: 26px;
  }
  .header-basket-mob-number output {
    color: #000;
    line-height: 14px;
    font-size: 10px;
    font-family: H300;
  }
  .header-basket-mob:focus {
    outline: none;
  }
  .main-nav {
    display: none;
  }
  .main .container {
    width: 740px;
    margin-top: 15px;
  }
  .main .container .category {
    display: none;
  }
  .main .container .block-mob {
    min-height: 65.5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #848484;
    padding: 20px;
  }
  .main .container .block-mob-img {
    margin: 0 5% 0 10px;
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  .main .container .block-mob-descr {
    width: 32%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 40% 0 0;
  }
  .main .container .block-mob-descr-title {
    width: 100%;
    color: #000;
    line-height: 19px;
    font-size: 24px;
    font-family: H400;
    margin: 0 0 3px 0;
  }
  .main .container .block-mob-descr-text {
    width: 100%;
    color: #000;
    line-height: 24px;
    font-size: 20px;
    font-family: H300;
  }
  .main .container .block-mob-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .container .block-mob-price-1 {
    color: #000;
    line-height: 29px;
    font-size: 24px;
    font-family: H300;
    margin: 0 0 4px 0;
  }
  .main .container .block-mob-price-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .container .block-mob-price-2 .minus {
    color: #000;
    line-height: 41px;
    font-size: 32px;
    font-family: H300;
    text-decoration: none;
  }
  .main .container .block-mob-price-2 .plus {
    color: #000;
    line-height: 27px;
    font-size: 20px;
    font-family: H300;
    text-decoration: none;
  }
  .main .container .block-mob-price-2 output {
    color: #000;
    line-height: 24px;
    font-size: 20px;
    font-family: H300;
    margin: 0 5px;
  }
  .main .container .padding {
    padding: 0 20px 20px;
  }
  .footer {
    display: none;
  }
  .footer-mob {
    display: block;
    position: relative;
    width: 768px;
    min-height: 38px;
    background-color: #f7f7f7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 9px 0 5px 0;
    position: fixed;
    bottom: 0;
    left: 0;
  }
  .footer-mob-basket {
    display: block;
    border: none;
    background-color: #E0112F;
    border-radius: 51.5px;
    padding: 13px 15px;
    position: relative;
    position: absolute;
    top: -23.5px;
  }
  .footer-mob-basket-number {
    background: #FFFFFF;
    border: 1px solid #FF2727;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 51.5px;
    padding: 2px 9px 5px 8px;
    position: absolute;
    bottom: 23px;
    left: 26px;
  }
  .footer-mob-basket-number output {
    color: #000;
    line-height: 14px;
    font-size: 10px;
    font-family: H300;
  }
  .footer-mob-basket:focus {
    outline: none;
  }
  .footer-mob-text {
    width: 100%;
    color: #000;
    line-height: 15px;
    font-size: 12px;
    font-family: H400;
    text-align: center;
    margin: 30px 0 0 0;
  }
}

@media (max-width: 425px) {
  .header {
    width: 425px;
  }
  .header #burger-menu:checked ~ nav {
    width: 425px;
    height: 100%;
  }
  .header-nav {
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .header-nav-tel-number {
    width: 206px;
    margin: 0 0 0 -103px;
    position: absolute;
    top: 150px;
    left: 50%;
  }
  .header-nav-tel-number-link {
    width: 100%;
    font-size: 24px;
    margin: 0 0 20px 0;
  }
  .header-nav-tel-number-text {
    font-size: 20px;
  }
  .main .container {
    width: 400px;
  }
  .main .container .block-mob-img {
    margin: 0 7% 0 5px;
  }
  .main .container .block-mob-descr {
    width: 200px;
    margin: 0 5% 0 0;
  }
  .main .container .block-mob-descr-title {
    color: #000;
    line-height: 23px;
    font-size: 18px;
    font-family: H400;
    margin: 0 0 1px 0;
  }
  .main .container .block-mob-descr-text {
    width: 200px;
    color: #000;
    line-height: 19px;
    font-size: 16px;
    font-family: H300;
  }
  .main .container .block-mob-price-1 {
    width: 60px;
  }
  .footer-mob {
    width: 425px;
  }
}

@media (max-width: 375px) {
  .header {
    width: 375px;
  }
  .header #burger-menu:checked ~ nav {
    width: 100%;
    height: 100%;
  }
  .header #burger-menu:checked ~ nav-nav {
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .header #burger-menu:checked ~ nav-nav-tel-number {
    width: 206px;
    margin: 0 0 0 -103px;
    position: absolute;
    top: 23.07%;
    left: 50%;
  }
  .header #burger-menu:checked ~ nav-nav-tel-number-link {
    width: 100%;
    font-size: 24px;
    margin: 0 0 20px 0;
  }
  .header #burger-menu:checked ~ nav-nav-tel-number-text {
    font-size: 20px;
  }
  .header .container .main {
    width: 375px;
  }
  .header .container .main .photo {
    width: 375px;
    height: 212px;
  }
  .header .container .main .list-mob {
    width: 360px;
  }
  .header .container .main .list-mob-item {
    margin: 0;
  }
  .header .container .main .list-mob-item:nth-child(1n) {
    margin: 0 5px 15px 0;
  }
  .main .container {
    width: 350px;
  }
  .main .container .block-mob-descr {
    width: 150px;
  }
  .main .container .block-mob-descr-title {
    color: #000;
    line-height: 23px;
    font-size: 18px;
    font-family: H400;
  }
  .main .container .block-mob-descr-text {
    color: #000;
    line-height: 17px;
    font-size: 14px;
    font-family: H300;
  }
  .footer-mob {
    width: 375px;
  }
}

@media (max-width: 320px) {
  .header {
    width: 320px;
  }
  .header-logo {
    padding: 0 10px 0 0;
  }
  .header #burger-menu:checked ~ nav {
    width: 100%;
    height: 100%;
  }
  .header-nav {
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .header-nav-tel-number {
    width: 206px;
    margin: 0 0 0 -103px;
    position: absolute;
    top: 150px;
    left: 50%;
  }
  .header-nav-tel-number-link {
    width: 100%;
    font-size: 24px;
    margin: 0 0 20px 0;
  }
  .header-nav-tel-number-text {
    font-size: 20px;
  }
  .main .container {
    width: 300px;
  }
  .main .container .block-mob-descr {
    width: 116px;
  }
  .main .container .block-mob-descr-title {
    color: #000;
    line-height: 20px;
    font-size: 15px;
    font-family: H400;
  }
  .main .container .block-mob-descr-text {
    color: #000;
    line-height: 15px;
    font-size: 12px;
    font-family: H300;
  }
  .footer-mob {
    width: 320px;
  }
}
