@font-face{
    font-family: H300;
    src: url(../font/HelveticaNeueCyr-Light.woff2);
}

@font-face{
    font-family: H400;
    src: url(../font/HelveticaNeueCyr-Roman.woff2);
}

@font-face{
    font-family: M500;
    src: url(../font/Montserrat-Medium.woff2);
}

@mixin txt ($color, $line-height, $font-size, $font-family) {
    color: $color;
    line-height: $line-height;
    font-size: $font-size;
    font-family: $font-family;
}

//size
$w: 100%;
//color
$c1: #000;
$c2: #FF2727;
$c3: #848484;
$c4: #fff;
$c5: #F11F3E;
$c6: #E0112F;